.weather-date {
    /* position: absolute; */
    /* bottom: 22%; */
    font-size: 1rem;
    color: #484569;
}

.weather-data {
    width: 100%;
    /* position: absolute; */
    /* bottom: 2rem; */
    display: flex;
    column-gap: 2rem;
    padding: 0 2rem;
}

.weather-data > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: rgba(17, 16, 16, 0.3);
    padding: 1rem;
    border-radius: 1rem;
}

.data-name {
    font-size: 1rem;
    font-weight: 700;
    color: #1f1b56;
}

.weather-data i {
    font-size: 1rem;
    color: #f8f8f8;
    text-shadow: -0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.data {
    font-size: 1rem;
    font-weight: 700;
    color: #1f1b56;
}