.select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(8, 64, 83);
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #676394;
    border-radius: 1rem;
    background-color: #fff;
    outline: none;
    padding: 10px 35px 10px 15px;
    cursor: pointer;
    
}

.select-wrapper {
    position: relative;
}

.select-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: block;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 8px 0 8px;
    border-color: #7e9bbd transparent transparent transparent;

    pointer-events: none;
}